[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SeonghoBaek
[access "refs/for/refs/*"]
	read = group user/SeonghoBaek
	push = group user/SeonghoBaek
	label-Code-Review = -2..+2 group user/SeonghoBaek
	label-Verified = -1..+1 group user/SeonghoBaek
	rebase = group user/SeonghoBaek
	removeReviewer = group user/SeonghoBaek
	submit = group user/SeonghoBaek
[access "refs/heads/*"]
	read = group user/SeonghoBaek
	create = group user/SeonghoBaek
	push = +force group user/SeonghoBaek
	pushMerge = group user/SeonghoBaek
[access "refs/tags/*"]
	push = group user/SeonghoBaek
	push = +force group user/SeonghoBaek
